doctype html
html
    include ./head.pug
    body
        |  <section class="bg_2">
        |     <h2 class="headline">Error page</h2>
        |     <div class="constructor center login_container">
        h2 #{status} : #{description}
        h3
            | <a href="#{ref}">Go back</a>
        |     </div>
        |   </section>