doctype html
html
    include ./head.pug
    | !{AdditionalHead}
    include ./header.pug
    body
        main
            template
                .loader
                    span L
                    span O
                    span A
                    span D
                    span I
                    span N
                    span G
            #results
    include ./footer.pug
    | !{AdditionalFooter}
