footer
	h3 Мои контакты:
	p(class='square', target='_blank', rel='noopener noreferrer', href='https://vk.com/fedos3d')
		a(class='square', target='_blank', rel='noopener noreferrer', href='https://vk.com/fedos3d')
			img(src='images/vk-resized.png', width='32', height='32', alt='VK')
		a(class='square', target='_blank', rel='noopener noreferrer', href="https://github.com/fedos3d")
			img(src="images/github-resized.png", alt="GitHub")
		a(class='square', target='_blank', rel='noopener noreferrer', href='https://t.me/fedos3d')
			img(src="images/telegram-resized.png", alt="Telegram")
	script(src='scripts/login.js')
