head
  title #{title}
  link(href='outlines.css', rel='stylesheet')
  meta(charset="UTF-8")
  script(src="scripts/script.js")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Pacifico&family=Caveat&family=DotGothic16&family=Orelega+One&?family=Roboto+Slab:wght@600&display=swap", rel="stylesheet")
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/app.js')
