doctype html
html
    include ./head.pug
    include ./header.pug
    body
    - var authorized = logged;
    if authorized === true
        h2.green Authorized
    else
        h2.blue Not Authorized
    include ./footer.pug