doctype html
html
    include ./head.pug
    | !{AdditionalHead}
    include ./header.pug
    body
        main
            section#gallery
                img(src='images/memes/img.png')
                img(src='images/memes/img_1.png')
                img(src='images/memes/img_2.png')
                img(src='images/memes/img_3.png')
                img(src='images/memes/img_4.png')
    include ./footer.pug
    | !{AdditionalFooter}
