doctype html
html
    include ./head.pug
    body
    include ./header.pug
    |  <section class="bg_2">
    |     <h2 class="headline">Register</h2>
    |     <div class="constructor center login_container">
    |       <div class="form_container">
    |         <form action="register" method="post">
    |           <input type="text" name="username" id="login_input" placeholder="Login">
    |           <input type="text" name="email" id="email_input" placeholder="email">
    |           <input type="password" name="password" id="login_input" placeholder="Password">
    |           <input type="submit" value="register" id="login_btn" class="del">
    |         </form>
    |       </div>
    |     </div>
    |   </section>

    include ./footer.pug
